<%- include header %>


<% if(laps.length==0) {%>

<div style="height: 300px">
    <h3 style="text-align: center;position: relative;top : 50%">Không có sản phẩm nào trong danh sách !!!</h1>
</div>

<% } else { var lap_max = laps[1];%>
<div class="container">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col" style="text-align: center">Thành phần cấu hình</th>
                <% laps.forEach(function(lap) { %>
                <% if(lap == lap_max) { %>
                <td style="background-color: green"><%=lap.Name%></td>
                <% } else { %>
                <td><%=lap.Name%></td>
                <% } %>
                <% }) %>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" style="width: 25%"><img src="img/bestchoice.jpg" width="200px"
                        style="position: relative; left:25%"></th>
                <% laps.forEach(function(lap) { %>
                <% if(lap == lap_max) { %>
                <td style="width: 25%; background-color: green"><img src=<%= lap.Src_img %> title=<%=lap.Name%>>
                </td>
                <% } else { %>
                <td style="width: 25%"><img src=<%= lap.Src_img %> title=<%=lap.Name%>></td> <% } %>
                <% }) %>
            </tr>
            <tr>
                <th scope="row">
                    <h3 style="text-align: center"><b>Tổng điểm</b></h3>
                </th>
                <% laps.forEach(function(lap) { %>
                <% if(lap == lap_max) { %>
                <td style="background-color: green"></td>
                <% } else { %>
                <td></td>
                <% } %>
                <% }) %>
            </tr>
            <tr>
                <th scope="row">
                    <h6 style="text-align: center"><i><u>Giá trị 1 điểm</u></i></h6>
                </th>
                <% laps.forEach(function(lap) { %>
                <% if(lap == lap_max) { %>
                <td style="background-color: green"></td>
                <% } else { %>
                <td></td>
                <% } %>
                <% }) %>
            </tr>
            <tr>
                <th scope="row" style="text-align: center"><b><i>CPU</i></b></th>
                <% laps.forEach(function(lap) { %>
                <% if(lap == lap_max) { %>
                <td style="background-color: green"><%=lap.CPU%></td>
                <% } else { %>
                <td><%=lap.CPU%></td>
                <% } %>
                <% }) %>
            </tr>
            <tr>
                <th scope="row" style="text-align: center"><b><i>RAM</i></b></th>
                <% laps.forEach(function(lap) { %>
                <% if(lap == lap_max) { %>
                <td style="background-color: green"><%=lap.RAM%></td>
                <% } else { %>
                <td><%=lap.RAM%></td>
                <% } %>
                <% }) %>
            </tr>
            <tr>
                <th scope="row" style="text-align: center"><b><i>Display</i></b></th>
                <% laps.forEach(function(lap) { %>
                <% if(lap == lap_max) { %>
                <td style="background-color: green"><%=lap.Display%></td>
                <% } else { %>
                <td><%=lap.Display%></td>
                <% } %>
                <% }) %>
            </tr>
            <tr>
                <th scope="row" style="text-align: center"><b><i>VGA</i></b></th>
                <% laps.forEach(function(lap) { %>
                <% if(lap == lap_max) { %>
                <td style="background-color: green"><%=lap.VGA%></td>
                <% } else { %>
                <td><%=lap.VGA%></td>
                <% } %>
                <% }) %>
            </tr>
            <tr>
                <th scope="row" style="text-align: center"><b><i>HDD</i></b></th>
                <% laps.forEach(function(lap) { %>
                <% if(lap == lap_max) { %>
                <td style="background-color: green"><%=lap.HDD%></td>
                <% } else { %>
                <td><%=lap.HDD%></td>
                <% } %>
                <% }) %>
            </tr>
            <tr>
                <th scope="row" style="text-align: center"></th>
                <% laps.forEach(function(lap) { %>
                <td><form method="POST" action="/xoasp">
                    <input type="hidden" name="id_del" value=<%= lap.id %> />
                    <button class="btn btn-danger">Xóa sản phẩm</button>
                    </form>
                </td>
                <% }) %>
            </tr>
        </tbody>
    </table>
</div>
<% } %>
<%- include footer %>