<%- include header %>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: blue;
        text-align: center;
        padding: 15px;
        text-decoration: none;
    }
</style>
<div class="form-group container">
    <input type="text" id="search-text" class="form-control" placeholder="Tìm kiếm">
    <span><a id="search" onclick="timkiem()" class="btn btn-primary" role="button">Tìm kiếm</a></span>
</div>

<div class="container" id="main" style="margin-bottom: 30px">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <ul>
                <li><a href="tat-ca/duoi-5tr">
                        <h5>Dưới 5 triệu</h5>
                    </a></li>
                <li><a href="tat-ca/tu-5-10tr">
                        <h5>Từ 5-10 triệu</h5>
                    </a></li>
                <li><a href="tat-ca/tu-10-15tr">
                        <h5>Từ 10 - 15 triệu</h5>
                    </a></li>
                <li><a href="tat-ca/tu-15-20tr">
                        <h5>Từ 15 - 20 triệu</h5>
                    </a></li>
                <li><a href="tat-ca/tren-20tr">
                        <h5>Trên 20 triệu</h5>
                    </a></li>
                <li><a href="tat-ca">
                        <h5>Xem tất cả</h5>
                    </a></li>
            </ul>
        </div>
    </div>
    <% if (laps.length == 0) { %>
    <div class="container" style="height: 100px;">
        <h3>Không tìm thấy laptop !!! Bạn có muốn <a href="de-xuat">đề xuất sản phẩm</a> này không ?</h3>
    </div>
    <% } %>
    <div class="row">

        <% laps.forEach(function(lap){ %>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a style="color: #212529"
                    href=<%="chi-tiet/" + lap.id + "/" + lap.Name.split(" ").join("-").split('/').join('-')%>><img
                        src=<%= lap.Src_img %> title=<%=lap.Name%>>
                    <div class="caption">
                        <h5><b><%=lap.Name %></b></h5>
                </a>
                <% var pri = lap.Price.toString().slice(-8,-6)+'.'+lap.Price.toString().slice(-6,-3) + '.' +lap.Price.toString().slice(-3)%>
                <h4><b><i><%=pri %></i></b></h4>
                <p><b>CPU: </b><%=lap.CPU%></p>
                <p><b>RAM: </b><%=lap.RAM%></p>
                <p><b>Màn hình: </b><%=lap.Display%></p>
                <p><b>VGA: </b><%=lap.VGA%></p>
                <% if (data == "Guest" ) { %>
                <span><button class="btn btn-primary" role="button" onclick="them_guest()">
                        Thêm vào so
                        sánh</button> <a
                        href=<%="chi-tiet/" + lap.id + "/" + lap.Name.split(" ").join("-").split('/').join('-')%>
                        class="btn btn-default" role="button">Chi tiết</a></span>
                <% } else {%>
                <form method="post" action="/danhsach" style="display: inline;"> 
                    <input type="hidden" name="id" value=<%= lap.id %> />
                    <button class="btn btn-primary">Thêm vào danh
                        sách
                        so sánh</button>
                </form> <a
                        href=<%="chi-tiet/" + lap.id + "/" + lap.Name.split(" ").join("-").split('/').join('-')%>
                        class="btn btn-default" role="button">Chi tiết</a>
                <% } %>
            </div>
        </div>
    </div>
    <% }) %>
</div>
</div>
<script>
    function timkiem() {
        var s = document.getElementById("search-text").value;
        s = s.split(" ").join("&");
        s = s.split('/').join('-');
        window.location.replace("search/" + s);
    }
    function them_guest() {
        alert("Bạn cần đăng nhập để thực hiện chức năng này !!");
    }
    document.getElementById("search-text")
        .addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                document.getElementById("search").click();
            }
        });

</script>
<%- include footer %>